<?xml version="1.0"?>
<config>
    <!-- Meta info for module -->
    <modules>
        <Zaclee_QuarkBar>
            <version>0.1.0</version>
        </Zaclee_QuarkBar>
    </modules>
    
    <!-- Define our observer model -->
    <global>
        <models>
            <quarkbar>
                <class>Zaclee_QuarkBar_Model</class>
            </quarkbar>
        </models>
    </global>
    
    <!-- Add layout / template for QuarkBar -->
    <frontend>
        <layout>
            <updates>
                <quarkbar>
                    <file>quarkbar.xml</file>
                </quarkbar>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <quarkbar>
                    <file>quarkbar.xml</file>
                </quarkbar>
            </updates>
        </layout>
    </adminhtml>

    <!-- Call observer for predispatching QuarkBar -->
    <global>
        <events>
            <controller_action_predispatch>
                <observers>
                    <Zaclee_QuarkBar_Model_Observer>
                        <class>Zaclee_QuarkBar_Model_Observer</class>
                        <method>controller_action_predispatch</method>
                    </Zaclee_QuarkBar_Model_Observer>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>

</config>