<?xml version="1.0"?>
<config>
    <!-- Meta info for module -->
    <modules>
        <Zaclee_QuarkBar>
            <version>0.1.0</version>
        </Zaclee_QuarkBar>
    </modules>
    
    <!-- Define our observer model -->
    <global>
        <models>
            <quarkbar>
                <class>Zaclee_QuarkBar_Model</class>
            </quarkbar>
        </models>
    </global>
    
    <!-- Define Quark Block -->
    <global>
        <blocks>
            <quarkbar>
                <class>Zaclee_QuarkBar_Block</class>
            </quarkbar>
        </blocks>
    </global>
    
    <!-- Add layout / template for QuarkBar -->
    <frontend>
        <layout>
            <updates>
                <quarkbar>
                    <file>quarkbar.xml</file>
                </quarkbar>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <quarkbar>
                    <file>quarkbar.xml</file>
                </quarkbar>
            </updates>
        </layout>
    </adminhtml>

    <!-- Call observer for predispatching QuarkBar -->
    <global>
        <events>
            <controller_action_predispatch>
                <observers>
                    <Zaclee_QuarkBar_Model_PredispatchObserver>
                        <class>Zaclee_QuarkBar_Model_PredispatchObserver</class>
                        <method>controller_action_predispatch</method>
                    </Zaclee_QuarkBar_Model_PredispatchObserver>
                </observers>
            </controller_action_predispatch>
            <admin_session_user_login_success>
                <observers>
                    <Zaclee_QuarkBar_Model_AdminLoginSuccessObserver>
                        <class>Zaclee_QuarkBar_Model_AdminLoginSuccessObserver</class>
                        <method>admin_session_user_login_success</method>
                    </Zaclee_QuarkBar_Model_AdminLoginSuccessObserver>
                </observers>
            </admin_session_user_login_success>
        </events>
    </global>
    
    <!-- Add connection/setup -->
    <global>
        <resources>
            <quarkbar_setup>
                <setup>
                    <module>Zaclee_QuarkBar</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quarkbar_setup>
            <quarkbar_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quarkbar_write>
            <quarkbar_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quarkbar_read>
        </resources>
    </global>

</config>